* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgb(170, 179, 174);
  box-shadow: 3px 3px 0 3px rgb(147, 167, 157);
  width: 100%;
  padding: 27px;
}

.logo {
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  column-gap: 0.5rem;
  padding: 0 60px;
  color: black;
}



#menu-icon {
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
  padding-right: 50px;
}

.navbar {
  display: flex;
  column-gap: 1rem;
}

.navbar a {
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.navbar a:hover {
  color: rgb(119, 7, 7);
}
/* 
#rise {
  font-size: 1.4rem;
  cursor: pointer;
  padding-right: 40px;
}

#rise:hover {
  color: goldenrod;
} 

.dark-mode {
  background-color: rgb(17, 1, 1);
  color: white;
}  */

/*  home styling */

.home {
  background-color: rgb(32, 11, 11);
}

.home-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-flex .home {
  line-height: 2;
  margin-left: 3rem;
}
.home .best {
  font-style: oblique;
  color: orangered;
  font-size: 3rem;
  text-transform: capitalize;
}

.image {
  max-width: 400px;
  min-height: 100vh;
}
.image img {
  width: 100%;
  height: auto;
  margin-top: 9rem;
}

.home .best-1 {
  width: 50%;
  font-size: 1.2rem;
  color: whitesmoke;
}
.home p {
  width: 64%;
  color: whitesmoke;
}
.button {
  margin-left: -1rem;
}
.button .order {
  margin: 1rem;
  color: white;
}
.button button {
  padding: 1.3rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.button .order {
  border: none;
  background-color: orangered;
}

.button .order:hover {
  background-color: transparent;
  border: 1px solid whitesmoke;
}

.button .order-1 {
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: antiquewhite;
}

.button .order-1:hover {
  border: none;
  background-color: orangered;
  color: whitesmoke;
}

/*  about us styling */

.about {
  background-color: bisque;
}

.about-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.about-flex .pic img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.food .food-1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.5rem;
}

.food .para-3 {
  text-align: center;
  margin: auto;
  width: 75%;
  line-height: 1.6;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon i {
  margin: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 4rem;
}
.icon i:hover {
  color: orangered;
}

/*  menu styling */

.menu {
  background-color: rgb(73, 57, 57);
}

.menu .menu-1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 2rem;
  color: whitesmoke;
}

.menu-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.menu-flex .menu-2 {
  text-align: center;
}

.menu-flex .menu-2 img {
  width: 250px;
  height: 250px;
}

.menu-2 .dav {
  color: wheat;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 1rem;
}

.menu-2 .classic {
  width: 80%;
  margin: auto;
  color: white;
  margin-bottom: 3rem;
}

/*  testimonials styling */

.testimonials {
  background-color: gainsboro;
  padding: 50px 0 60px;
  height: 90vh;
}

.testimonials .food-1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.5rem;
  padding-bottom: 6rem;
}

.testimonials .swiper-content .wipper-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-content .wipper-3 img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.swiper-content .wipper-3 .user {
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.swiper-content .wipper-3 .para-7 {
  padding-bottom: 3rem;
  width: 60%;
  text-align: center;
}
.testimonials .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: orangered;
}
.testimonials .swiper-slide-button {
  color: orangered;
}

.testimonials .swiper-slide-button:hover {
  color: grey;
}

/* gallery styling */

.gallery {
  padding: 50px 0 60px;
}

.gallery .food-1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.5rem;
  padding-bottom: 6rem;
}
.gallery .gallery-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.gallery .gallery-1 img {
  width: 350px;
  height: 250px;
  margin: 1rem;
  border-radius: 10px;
  cursor: zoom-in;
}
.gallery .gallery-1 img:hover {
  transition: 0.2s ease;
  transform: scale(1.1);
}

/* contact styling */

.contacts {
  background-color: azure;
}

.contacts .food-1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.5rem;
  padding-bottom: 6rem;
}

.our-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.our-contact-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  margin-left: -9rem;
}
.our-contact-2:nth-child(3) {
  margin-left: -23.1rem;
}

.our-contact-2:nth-child(4) {
  margin-left: -9.3rem;
}

.our-contact-2:nth-child(5) {
  margin-left: -16rem;
}

.our-contact-2:nth-child(6) {
  margin-left: -22.5rem;
}

.our-contact-2:nth-child(7) {
  margin-left: -16.8rem;
}
.our-contact-2 p {
  margin-left: 1rem;
}

.our-form {
  margin-top: -11rem;
}

.our-form input {
  display: block;
  margin: 1rem;
  margin-left: -0.1rem;
  padding: 0.7rem;
  text-transform: capitalize;
  font-size: 1rem;
  width: 150%;
}

.our-form input:hover,
.our-form input:focus {
  color: rgb(43, 11, 11);
  border: 1px solid blue;
}

.our-form textarea {
  width: 150%;
  padding: 1rem;
  font-size: 1rem;
}

.submit {
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  text-transform: capitalize;
  background: rgb(43, 11, 11);
  color: whitesmoke;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.submit:hover {
  background-color: rgb(90, 57, 57);
}

/* footer styling */

.foot{
  background-color: rgb(26, 18, 18);
  color: whitesmoke;
  padding: .5rem;
}


.foot-1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot-2 p{
  position: relative;
  left: -3rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.foot-3 i{
  padding: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.foot-3 i:hover{
  color: orangered;
}
.foot-4 p{
  position: relative;
  right: -3rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.foot-4 p:hover{
  color: orangered;
}




/* Responsive */

@media screen and (max-width: 1080px) {
  .name {
    padding: 0 40px;
    font-size: 2rem;
  }
  .navbar ul li {
    padding: 0.3rem;
    position: relative;
    top: -0.5rem;
  }

  .navbar ul li a {
    font-size: 1rem;
  }
  .home-flex .home {
    margin-left: 3rem;
  }
  .image {
    margin-right: 4rem;
  }
  .our-form input {
    width: 110%;
    position: relative;
    left: 4rem;
  }
  .our-form textarea {
    width: 110%;
    position: relative;
    left: 4rem;
  }
  .submit {
    position: relative;
    left: 4rem;
  }
  .our-contact-2 {
    position: relative;
    left: 7.5rem;
  }
  .foot-2 p {
    position: relative;
    left: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .navbar ul li {
    padding: 0.3rem;
    position: relative;
    top: -0.5rem;
  }

  .navbar ul li a {
    font-size: 1rem;
  }
  .home-flex {
    flex-direction: column-reverse;
  }
  .image {
    margin: auto;
  }
  .home-flex .home {
    margin-left: 5rem;
    padding: 2rem;
  }
  .home-flex .home .best-1 {
    width: 100%;
  }
  .home-flex .home p {
    width: 100%;
    text-align: center;
  }
  .home .best {
    text-align: center;
  }
  .home .best-1 {
    text-align: center;
  }
  .button {
    text-align: center;
  }
  .about-flex {
    flex-direction: column-reverse;
  }
  .our-contact {
    flex-direction: column-reverse;
    align-items: center;
  }
  .our-form input {
    width: 110%;
    position: relative;
    left: 0.5rem;
  }
  .our-form textarea {
    width: 110%;
    position: relative;
    left: 0.5rem;
  }
  .submit {
    position: relative;
    left: 0.5rem;
  }
  .our-form {
    margin: auto;
  }
  .our-contact-2 {
    position: relative;
    left: 7.5rem;
  }
  .foot-2 p {
    position: relative;
    left: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }
  .foot-4 p {
    position: relative;
    right: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    font-size: 1.1rem;
  }

  .navbar a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 750px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: -572px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: 0.2s all linear;
    background-color: beige;
    box-shadow: 3px 3px 0 3px bisque;
  }

  .navbar a {
    display: block;
    margin: 1rem;
    padding: 1rem;
  }
  .navbar.active {
    top: 100%;
  }
  .home .best {
    font-size: 2.5rem;
  }
  .home .best-1 {
    font-size: 1rem;
  }
  .home-flex .home {
    margin: auto;
  }
  .home p {
    font-size: 0.9rem;
  }
  .testimonials .swiper-slide-button {
    display: none;
  }
  .our-contact {
    flex-direction: column-reverse;
    align-items: center;
  }
  .our-form {
    margin: auto;
  }
  .our-form input {
    position: relative;
    right: 5rem;
  }
  .our-form textarea {
    position: relative;
    right: 5rem;
  }
  .submit {
    position: relative;
    right: 5rem;
  }
  .our-contact-2 {
    position: relative;
    left: 5.5rem;
  }
  .foot-2 {
    position: relative;
    right: 1rem;
  }
  .foot-3 i {
    font-size: 1rem;
  }
  .foot-4 p {
    position: relative;
    right: 0.1rem;
  }
  .foot-1 {
    flex-direction: column;
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  .home-flex .home {
    padding-left: 5rem;
  }

  .our-form textarea {
    width: 100%;
    position: relative;
    left: 0.7rem;
  }
  .our-form input {
    position: relative;
    left: 0.7rem;
    width: 100%;
  }
  .submit {
    position: relative;
    left: 1rem;
  }
  .foot-1 {
    flex-direction: column;
    margin: 10px;
  }
  .foot-4 p {
    position: relative;
    right: 0.1rem;
  }
  .image img {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 440px) {
  .gallery .gallery-1 img {
    padding: 2rem;
    border-radius: 1rem;
  }

  .our-contact .our-contact-1  .our-contact-2{
    padding-left: 2rem;
  }
  .our-contact .our-form {
    padding-left: 1rem;
  }
  .about-flex .pic img{
    padding: 3rem;
  }
  .logo{
    padding: 0 40px;
    font-size: 1.2rem;
  }
  .image img{
    padding-right: 5rem;
  }
     .home-flex .home {
    padding-left: 2rem;
}
}

@media screen and (max-width: 358px) {
  .gallery .gallery-1 img {
    padding: 2rem;
    border-radius: 1rem;
  }
     .our-contact .our-contact-1 .our-contact-2{
    padding-left: 3rem;
  }
  .our-contact .our-form {
    padding-left: 1rem;
  }
   .about-flex .pic img{
    padding: 3rem;
  }
  .logo{
    padding: 0 40px;
    font-size: 1.5rem;
  }
  .image img{
    padding-right: 5rem;
  }
   .home-flex .home {
    padding-left: 2rem;
}

}